/**
 * Gibki
 *
 * @author Benjamin de Oostfrees
 * @version 4.1.0
 * @url https://github.com/deoostfrees/Gibki
 *
 * MIT License
 */
:root {
  --gibki-container-max-width: 75rem;
  --gibki-small-container-max-width: 38.25rem;
  --gibki-container-padding: 1.5rem;
  --gibki-gutter-vertical: 1.5rem;
  --gibki-gutter-horizontal: 1.5rem;
}

.container {
  inline-size: min(100% - var(--gibki-container-padding) * 2, var(--gibki-container-max-width));
  margin-inline: auto;
}
.container--small {
  --gibki-container-max-width: var(--gibki-small-container-max-width);
}
.container--full {
  inline-size: 100%;
}
.container:not(.container--full) .container {
  inline-size: min(100%, var(--gibki-container-max-width));
}

.flex {
  align-items: stretch;
  column-gap: var(--gibki-gutter-horizontal);
  container-name: gibki;
  container-type: inline-size;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: var(--gibki-gutter-vertical);
}
.flex--no-gutters {
  --gibki-gutter-horizontal: 0rem;
  --gibki-gutter-vertical: 0rem;
}
.flex--no-horizontal-gutters {
  --gibki-gutter-horizontal: 0rem;
}
.flex--no-vertical-gutters {
  --gibki-gutter-vertical: 0rem;
}
.flex--row {
  flex-direction: row;
}
.flex--row-reverse {
  flex-direction: row-reverse;
}
.flex--column {
  flex-direction: column;
}
.flex--column-reverse {
  flex-direction: column-reverse;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex--nowrap {
  flex-wrap: nowrap;
}
.flex--left {
  justify-content: flex-start;
}
.flex--center {
  justify-content: center;
}
.flex--right {
  justify-content: flex-end;
}
.flex--space-between {
  justify-content: space-between;
}
.flex--space-around {
  justify-content: space-around;
}
.flex--stretch {
  align-items: stretch;
}
.flex > .flex--stretch {
  align-self: stretch;
}
.flex--top {
  align-items: flex-start;
}
.flex > .flex--top {
  align-self: flex-start;
}
.flex--bottom {
  align-items: flex-end;
}
.flex > .flex--bottom {
  align-self: flex-end;
}
.flex--middle {
  align-items: center;
}
.flex > .flex--middle {
  align-self: center;
}
.flex--baseline {
  align-items: baseline;
}
.flex > .flex--baseline {
  align-self: baseline;
}

[class*=flex__] {
  box-sizing: border-box;
  inline-size: 100%;
}

.flex__auto {
  flex: 1;
}

.flex__1 {
  max-inline-size: calc(8.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 12);
}

.flex__2 {
  max-inline-size: calc(16.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 6);
}

.flex__3 {
  max-inline-size: calc(25% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 4);
}

.flex__4 {
  max-inline-size: calc(33.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 3);
}

.flex__5 {
  max-inline-size: calc(41.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 2.4);
}

.flex__6 {
  max-inline-size: calc(50% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 2);
}

.flex__7 {
  max-inline-size: calc(58.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.7142857143);
}

.flex__8 {
  max-inline-size: calc(66.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.5);
}

.flex__9 {
  max-inline-size: calc(75% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.3333333333);
}

.flex__10 {
  max-inline-size: calc(83.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.2);
}

.flex__11 {
  max-inline-size: calc(91.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.0909090909);
}

.flex__12 {
  max-inline-size: calc(100% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1);
}

.flex--order-1 {
  order: 1;
}

.flex--order-2 {
  order: 2;
}

.flex--order-3 {
  order: 3;
}

.flex--order-4 {
  order: 4;
}

.flex--order-5 {
  order: 5;
}

.flex--order-6 {
  order: 6;
}

.flex--order-7 {
  order: 7;
}

.flex--order-8 {
  order: 8;
}

.flex--order-9 {
  order: 9;
}

.flex--order-10 {
  order: 10;
}

.flex--order-11 {
  order: 11;
}

.flex--order-12 {
  order: 12;
}

.flex--offset-1 {
  margin-inline-start: calc(8.3333333333% + var(--gibki-gutter-horizontal) / 12);
}

.flex--offset-2 {
  margin-inline-start: calc(16.6666666667% + var(--gibki-gutter-horizontal) / 6);
}

.flex--offset-3 {
  margin-inline-start: calc(25% + var(--gibki-gutter-horizontal) / 4);
}

.flex--offset-4 {
  margin-inline-start: calc(33.3333333333% + var(--gibki-gutter-horizontal) / 3);
}

.flex--offset-5 {
  margin-inline-start: calc(41.6666666667% + var(--gibki-gutter-horizontal) / 2.4);
}

.flex--offset-6 {
  margin-inline-start: calc(50% + var(--gibki-gutter-horizontal) / 2);
}

.flex--offset-7 {
  margin-inline-start: calc(58.3333333333% + var(--gibki-gutter-horizontal) / 1.7142857143);
}

.flex--offset-8 {
  margin-inline-start: calc(66.6666666667% + var(--gibki-gutter-horizontal) / 1.5);
}

.flex--offset-9 {
  margin-inline-start: calc(75% + var(--gibki-gutter-horizontal) / 1.3333333333);
}

.flex--offset-10 {
  margin-inline-start: calc(83.3333333333% + var(--gibki-gutter-horizontal) / 1.2);
}

.flex--offset-11 {
  margin-inline-start: calc(91.6666666667% + var(--gibki-gutter-horizontal) / 1.0909090909);
}

.flex--offset-12 {
  margin-inline-start: calc(100% + var(--gibki-gutter-horizontal) / 1);
}

@container gibki (width >= 31.25rem) {
  .flex__sm-1 {
    max-inline-size: calc(8.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 12);
  }
  .flex__sm-2 {
    max-inline-size: calc(16.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 6);
  }
  .flex__sm-3 {
    max-inline-size: calc(25% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 4);
  }
  .flex__sm-4 {
    max-inline-size: calc(33.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 3);
  }
  .flex__sm-5 {
    max-inline-size: calc(41.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 2.4);
  }
  .flex__sm-6 {
    max-inline-size: calc(50% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 2);
  }
  .flex__sm-7 {
    max-inline-size: calc(58.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.7142857143);
  }
  .flex__sm-8 {
    max-inline-size: calc(66.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.5);
  }
  .flex__sm-9 {
    max-inline-size: calc(75% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.3333333333);
  }
  .flex__sm-10 {
    max-inline-size: calc(83.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.2);
  }
  .flex__sm-11 {
    max-inline-size: calc(91.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.0909090909);
  }
  .flex__sm-12 {
    max-inline-size: calc(100% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1);
  }
  .flex--offset-sm-1 {
    margin-inline-start: calc(8.3333333333% + var(--gibki-gutter-horizontal) / 12);
  }
  .flex--offset-sm-2 {
    margin-inline-start: calc(16.6666666667% + var(--gibki-gutter-horizontal) / 6);
  }
  .flex--offset-sm-3 {
    margin-inline-start: calc(25% + var(--gibki-gutter-horizontal) / 4);
  }
  .flex--offset-sm-4 {
    margin-inline-start: calc(33.3333333333% + var(--gibki-gutter-horizontal) / 3);
  }
  .flex--offset-sm-5 {
    margin-inline-start: calc(41.6666666667% + var(--gibki-gutter-horizontal) / 2.4);
  }
  .flex--offset-sm-6 {
    margin-inline-start: calc(50% + var(--gibki-gutter-horizontal) / 2);
  }
  .flex--offset-sm-7 {
    margin-inline-start: calc(58.3333333333% + var(--gibki-gutter-horizontal) / 1.7142857143);
  }
  .flex--offset-sm-8 {
    margin-inline-start: calc(66.6666666667% + var(--gibki-gutter-horizontal) / 1.5);
  }
  .flex--offset-sm-9 {
    margin-inline-start: calc(75% + var(--gibki-gutter-horizontal) / 1.3333333333);
  }
  .flex--offset-sm-10 {
    margin-inline-start: calc(83.3333333333% + var(--gibki-gutter-horizontal) / 1.2);
  }
  .flex--offset-sm-11 {
    margin-inline-start: calc(91.6666666667% + var(--gibki-gutter-horizontal) / 1.0909090909);
  }
  .flex--offset-sm-12 {
    margin-inline-start: calc(100% + var(--gibki-gutter-horizontal) / 1);
  }
  .flex--order-sm-1 {
    order: 1;
  }
  .flex--order-sm-2 {
    order: 2;
  }
  .flex--order-sm-3 {
    order: 3;
  }
  .flex--order-sm-4 {
    order: 4;
  }
  .flex--order-sm-5 {
    order: 5;
  }
  .flex--order-sm-6 {
    order: 6;
  }
  .flex--order-sm-7 {
    order: 7;
  }
  .flex--order-sm-8 {
    order: 8;
  }
  .flex--order-sm-9 {
    order: 9;
  }
  .flex--order-sm-10 {
    order: 10;
  }
  .flex--order-sm-11 {
    order: 11;
  }
  .flex--order-sm-12 {
    order: 12;
  }
}
@container gibki (width >= 43.75rem) {
  .flex__md-1 {
    max-inline-size: calc(8.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 12);
  }
  .flex__md-2 {
    max-inline-size: calc(16.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 6);
  }
  .flex__md-3 {
    max-inline-size: calc(25% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 4);
  }
  .flex__md-4 {
    max-inline-size: calc(33.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 3);
  }
  .flex__md-5 {
    max-inline-size: calc(41.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 2.4);
  }
  .flex__md-6 {
    max-inline-size: calc(50% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 2);
  }
  .flex__md-7 {
    max-inline-size: calc(58.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.7142857143);
  }
  .flex__md-8 {
    max-inline-size: calc(66.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.5);
  }
  .flex__md-9 {
    max-inline-size: calc(75% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.3333333333);
  }
  .flex__md-10 {
    max-inline-size: calc(83.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.2);
  }
  .flex__md-11 {
    max-inline-size: calc(91.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.0909090909);
  }
  .flex__md-12 {
    max-inline-size: calc(100% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1);
  }
  .flex--offset-md-1 {
    margin-inline-start: calc(8.3333333333% + var(--gibki-gutter-horizontal) / 12);
  }
  .flex--offset-md-2 {
    margin-inline-start: calc(16.6666666667% + var(--gibki-gutter-horizontal) / 6);
  }
  .flex--offset-md-3 {
    margin-inline-start: calc(25% + var(--gibki-gutter-horizontal) / 4);
  }
  .flex--offset-md-4 {
    margin-inline-start: calc(33.3333333333% + var(--gibki-gutter-horizontal) / 3);
  }
  .flex--offset-md-5 {
    margin-inline-start: calc(41.6666666667% + var(--gibki-gutter-horizontal) / 2.4);
  }
  .flex--offset-md-6 {
    margin-inline-start: calc(50% + var(--gibki-gutter-horizontal) / 2);
  }
  .flex--offset-md-7 {
    margin-inline-start: calc(58.3333333333% + var(--gibki-gutter-horizontal) / 1.7142857143);
  }
  .flex--offset-md-8 {
    margin-inline-start: calc(66.6666666667% + var(--gibki-gutter-horizontal) / 1.5);
  }
  .flex--offset-md-9 {
    margin-inline-start: calc(75% + var(--gibki-gutter-horizontal) / 1.3333333333);
  }
  .flex--offset-md-10 {
    margin-inline-start: calc(83.3333333333% + var(--gibki-gutter-horizontal) / 1.2);
  }
  .flex--offset-md-11 {
    margin-inline-start: calc(91.6666666667% + var(--gibki-gutter-horizontal) / 1.0909090909);
  }
  .flex--offset-md-12 {
    margin-inline-start: calc(100% + var(--gibki-gutter-horizontal) / 1);
  }
  .flex--order-md-1 {
    order: 1;
  }
  .flex--order-md-2 {
    order: 2;
  }
  .flex--order-md-3 {
    order: 3;
  }
  .flex--order-md-4 {
    order: 4;
  }
  .flex--order-md-5 {
    order: 5;
  }
  .flex--order-md-6 {
    order: 6;
  }
  .flex--order-md-7 {
    order: 7;
  }
  .flex--order-md-8 {
    order: 8;
  }
  .flex--order-md-9 {
    order: 9;
  }
  .flex--order-md-10 {
    order: 10;
  }
  .flex--order-md-11 {
    order: 11;
  }
  .flex--order-md-12 {
    order: 12;
  }
}
@container gibki (width >= 62.5rem) {
  .flex__lg-1 {
    max-inline-size: calc(8.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 12);
  }
  .flex__lg-2 {
    max-inline-size: calc(16.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 6);
  }
  .flex__lg-3 {
    max-inline-size: calc(25% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 4);
  }
  .flex__lg-4 {
    max-inline-size: calc(33.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 3);
  }
  .flex__lg-5 {
    max-inline-size: calc(41.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 2.4);
  }
  .flex__lg-6 {
    max-inline-size: calc(50% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 2);
  }
  .flex__lg-7 {
    max-inline-size: calc(58.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.7142857143);
  }
  .flex__lg-8 {
    max-inline-size: calc(66.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.5);
  }
  .flex__lg-9 {
    max-inline-size: calc(75% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.3333333333);
  }
  .flex__lg-10 {
    max-inline-size: calc(83.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.2);
  }
  .flex__lg-11 {
    max-inline-size: calc(91.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.0909090909);
  }
  .flex__lg-12 {
    max-inline-size: calc(100% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1);
  }
  .flex--offset-lg-1 {
    margin-inline-start: calc(8.3333333333% + var(--gibki-gutter-horizontal) / 12);
  }
  .flex--offset-lg-2 {
    margin-inline-start: calc(16.6666666667% + var(--gibki-gutter-horizontal) / 6);
  }
  .flex--offset-lg-3 {
    margin-inline-start: calc(25% + var(--gibki-gutter-horizontal) / 4);
  }
  .flex--offset-lg-4 {
    margin-inline-start: calc(33.3333333333% + var(--gibki-gutter-horizontal) / 3);
  }
  .flex--offset-lg-5 {
    margin-inline-start: calc(41.6666666667% + var(--gibki-gutter-horizontal) / 2.4);
  }
  .flex--offset-lg-6 {
    margin-inline-start: calc(50% + var(--gibki-gutter-horizontal) / 2);
  }
  .flex--offset-lg-7 {
    margin-inline-start: calc(58.3333333333% + var(--gibki-gutter-horizontal) / 1.7142857143);
  }
  .flex--offset-lg-8 {
    margin-inline-start: calc(66.6666666667% + var(--gibki-gutter-horizontal) / 1.5);
  }
  .flex--offset-lg-9 {
    margin-inline-start: calc(75% + var(--gibki-gutter-horizontal) / 1.3333333333);
  }
  .flex--offset-lg-10 {
    margin-inline-start: calc(83.3333333333% + var(--gibki-gutter-horizontal) / 1.2);
  }
  .flex--offset-lg-11 {
    margin-inline-start: calc(91.6666666667% + var(--gibki-gutter-horizontal) / 1.0909090909);
  }
  .flex--offset-lg-12 {
    margin-inline-start: calc(100% + var(--gibki-gutter-horizontal) / 1);
  }
  .flex--order-lg-1 {
    order: 1;
  }
  .flex--order-lg-2 {
    order: 2;
  }
  .flex--order-lg-3 {
    order: 3;
  }
  .flex--order-lg-4 {
    order: 4;
  }
  .flex--order-lg-5 {
    order: 5;
  }
  .flex--order-lg-6 {
    order: 6;
  }
  .flex--order-lg-7 {
    order: 7;
  }
  .flex--order-lg-8 {
    order: 8;
  }
  .flex--order-lg-9 {
    order: 9;
  }
  .flex--order-lg-10 {
    order: 10;
  }
  .flex--order-lg-11 {
    order: 11;
  }
  .flex--order-lg-12 {
    order: 12;
  }
}
@container gibki (width >= 75rem) {
  .flex__xl-1 {
    max-inline-size: calc(8.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 12);
  }
  .flex__xl-2 {
    max-inline-size: calc(16.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 6);
  }
  .flex__xl-3 {
    max-inline-size: calc(25% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 4);
  }
  .flex__xl-4 {
    max-inline-size: calc(33.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 3);
  }
  .flex__xl-5 {
    max-inline-size: calc(41.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 2.4);
  }
  .flex__xl-6 {
    max-inline-size: calc(50% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 2);
  }
  .flex__xl-7 {
    max-inline-size: calc(58.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.7142857143);
  }
  .flex__xl-8 {
    max-inline-size: calc(66.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.5);
  }
  .flex__xl-9 {
    max-inline-size: calc(75% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.3333333333);
  }
  .flex__xl-10 {
    max-inline-size: calc(83.3333333333% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.2);
  }
  .flex__xl-11 {
    max-inline-size: calc(91.6666666667% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1.0909090909);
  }
  .flex__xl-12 {
    max-inline-size: calc(100% - var(--gibki-gutter-horizontal) + var(--gibki-gutter-horizontal) / 1);
  }
  .flex--offset-xl-1 {
    margin-inline-start: calc(8.3333333333% + var(--gibki-gutter-horizontal) / 12);
  }
  .flex--offset-xl-2 {
    margin-inline-start: calc(16.6666666667% + var(--gibki-gutter-horizontal) / 6);
  }
  .flex--offset-xl-3 {
    margin-inline-start: calc(25% + var(--gibki-gutter-horizontal) / 4);
  }
  .flex--offset-xl-4 {
    margin-inline-start: calc(33.3333333333% + var(--gibki-gutter-horizontal) / 3);
  }
  .flex--offset-xl-5 {
    margin-inline-start: calc(41.6666666667% + var(--gibki-gutter-horizontal) / 2.4);
  }
  .flex--offset-xl-6 {
    margin-inline-start: calc(50% + var(--gibki-gutter-horizontal) / 2);
  }
  .flex--offset-xl-7 {
    margin-inline-start: calc(58.3333333333% + var(--gibki-gutter-horizontal) / 1.7142857143);
  }
  .flex--offset-xl-8 {
    margin-inline-start: calc(66.6666666667% + var(--gibki-gutter-horizontal) / 1.5);
  }
  .flex--offset-xl-9 {
    margin-inline-start: calc(75% + var(--gibki-gutter-horizontal) / 1.3333333333);
  }
  .flex--offset-xl-10 {
    margin-inline-start: calc(83.3333333333% + var(--gibki-gutter-horizontal) / 1.2);
  }
  .flex--offset-xl-11 {
    margin-inline-start: calc(91.6666666667% + var(--gibki-gutter-horizontal) / 1.0909090909);
  }
  .flex--offset-xl-12 {
    margin-inline-start: calc(100% + var(--gibki-gutter-horizontal) / 1);
  }
  .flex--order-xl-1 {
    order: 1;
  }
  .flex--order-xl-2 {
    order: 2;
  }
  .flex--order-xl-3 {
    order: 3;
  }
  .flex--order-xl-4 {
    order: 4;
  }
  .flex--order-xl-5 {
    order: 5;
  }
  .flex--order-xl-6 {
    order: 6;
  }
  .flex--order-xl-7 {
    order: 7;
  }
  .flex--order-xl-8 {
    order: 8;
  }
  .flex--order-xl-9 {
    order: 9;
  }
  .flex--order-xl-10 {
    order: 10;
  }
  .flex--order-xl-11 {
    order: 11;
  }
  .flex--order-xl-12 {
    order: 12;
  }
}