// flex__
@mixin flex__($flex-breakpoint: null) {
  $breakpoint: if($flex-breakpoint == null, null, #{$flex-breakpoint}-);

  @for $i from 1 through $flex-columns {

    .flex__#{$breakpoint}#{$i} {
      width: math.div($i, $flex-columns) * 100%;
    }
  }
}

// flex--offset-
@mixin flex--offset-($flex-breakpoint: null) {
  $breakpoint: if($flex-breakpoint == null, null, #{$flex-breakpoint}-);

  @for $i from 1 through $flex-columns {

    .flex--offset-#{$breakpoint}#{$i} {
      margin-inline-start: math.div($i, $flex-columns) * 100%;
    }
  }
}

// flex--order-
@mixin flex--order-($flex-breakpoint: null) {
  $breakpoint: if($flex-breakpoint == null, null, #{$flex-breakpoint}-);

  @for $i from 1 through $flex-columns {

    .flex--order-#{$breakpoint}#{$i} {
      order: $i;
    }
  }
}
