// flex__
@mixin flex__($gibki-breakpoint: null) {
  $breakpoint: if($gibki-breakpoint == null, null, #{$gibki-breakpoint}-);

  @for $i from 1 through $gibki-columns {

    .flex__#{$breakpoint}#{$i} {
      max-width: math.div($i, $gibki-columns) * 100%;
    }
  }
}

// flex--offset-
@mixin flex--offset-($gibki-breakpoint: null) {
  $breakpoint: if($gibki-breakpoint == null, null, #{$gibki-breakpoint}-);

  @for $i from 1 through $gibki-columns {

    .flex--offset-#{$breakpoint}#{$i} {
      margin-inline-start: math.div($i, $gibki-columns) * 100%;
    }
  }
}

// flex--order-
@mixin flex--order-($gibki-breakpoint: null) {
  $breakpoint: if($gibki-breakpoint == null, null, #{$gibki-breakpoint}-);

  @for $i from 1 through $gibki-columns {

    .flex--order-#{$breakpoint}#{$i} {
      order: $i;
    }
  }
}
