@use 'sass:math';
@use 'variables' as *;

// flex__
@mixin flex__($gibki-breakpoint: null) {
  $breakpoint: '';

  @if $gibki-breakpoint != null {
    $breakpoint: #{$gibki-breakpoint}-;
  }

  .flex__#{$breakpoint}auto {
    flex: 1;
  }

  @for $i from 1 through $gibki-columns {

    .flex__#{$breakpoint}#{$i} {
      max-inline-size: calc(#{math.div($i, $gibki-columns) * 100%} - var(--gibki-gutter-horizontal) + (var(--gibki-gutter-horizontal) / #{math.div($gibki-columns, $i)}));
    }
  }
}

// flex--offset-
@mixin flex--offset-($gibki-breakpoint: null) {
  $breakpoint: '';

  @if $gibki-breakpoint != null {
    $breakpoint: #{$gibki-breakpoint}-;
  }

  @for $i from 1 through $gibki-columns {

    .flex--offset-#{$breakpoint}#{$i} {
      margin-inline-start: calc(#{math.div($i, $gibki-columns) * 100%} + (var(--gibki-gutter-horizontal) / #{math.div($gibki-columns, $i)}));
    }
  }
}

// flex--order-
@mixin flex--order-($gibki-breakpoint: null) {
  $breakpoint: '';

  @if $gibki-breakpoint != null {
    $breakpoint: #{$gibki-breakpoint}-;
  }

  @for $i from 1 through $gibki-columns {

    .flex--order-#{$breakpoint}#{$i} {
      order: $i;
    }
  }
}
