// Other container max widths (rendered as modifier classes: container--sm)
// Based on 16px
$gibki-container-max-widths: (
  'small': 35.5rem, // 568px
  'full-width': 100%
) !default;

// Breakpoints map
// Based on 16px
$gibki-breakpoints: (
  'sm': 31.25em, // 500px
  'md': 43.75em, // 700px
  'lg': 62.5em,  // 1000px
  'xl': 75em     // 1200px
) !default;

// Available columns
$gibki-columns: 12 !default;
