// Breakpoints map
// Based on 16px
$gibki-breakpoints: (
  'sm': 31.25rem, // 500px
  'md': 43.75rem, // 700px
  'lg': 62.5rem,  // 1000px
  'xl': 75rem     // 1200px
) !default;

// Available columns
$gibki-columns: 12 !default;
