// Container max width
// Based on 16px
$gibki-container-max-width: 75rem !default; // 1200px
$gibki-container-max-width--small: 35.5rem !default; // 568px

// Gutter width
// Based on 16px
$gibki-gutter-vertical: 1.5rem !default; // 24px
$gibki-gutter-horizontal: 1.5rem !default; // 0.75rem (12px) on each side of a column

// Breakpoints map
// Based on 16px
$gibki-breakpoints: (
  'sm': 31.25em, // 500px
  'md': 43.75em, // 700px
  'lg': 62.5em,  // 1000px
  'xl': 75em     // 1200px
) !default;

// Available columns
$gibki-columns: 12 !default;
