@use 'variables' as *;
@use 'mixins';

/**
 * Gibki
 *
 * @author Benjamin de Oostfrees
 * @version 4.1.0
 * @url https://github.com/deoostfrees/Gibki
 *
 * MIT License
 */

:root {
  // Container max width
  // Based on 16px
  --gibki-container-max-width: 75rem; // 1200px
  --gibki-small-container-max-width: 38.25rem; // 612px
  // Container padding
  // Based on 16px
  --gibki-container-padding: 1.5rem; // 24px
  // Gutter width
  // Based on 16px
  --gibki-gutter-vertical: 1.5rem; // 24px
  --gibki-gutter-horizontal: 1.5rem; // 24px
}

.container {
  inline-size: min(100% - var(--gibki-container-padding) * 2, var(--gibki-container-max-width));
  margin-inline: auto;


  &--small {
    --gibki-container-max-width: var(--gibki-small-container-max-width);
  }

  &--full {
    inline-size: 100%;
  }

  // No padding for .container in .container
  &:not(.container--full) & {
    inline-size: min(100%, var(--gibki-container-max-width));
  }
}

.flex {
  align-items: stretch;
  column-gap: var(--gibki-gutter-horizontal);
  container-name: gibki;
  container-type: inline-size;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: var(--gibki-gutter-vertical);


  // Gutters
  &--no-gutters {
    --gibki-gutter-horizontal: 0rem;
    --gibki-gutter-vertical: 0rem;
  }

  &--no-horizontal-gutters {
    --gibki-gutter-horizontal: 0rem;
  }

  &--no-vertical-gutters {
    --gibki-gutter-vertical: 0rem;
  }

  // Directions
  &--row {
    flex-direction: row;
  }

  &--row-reverse {
    flex-direction: row-reverse;
  }

  &--column {
    flex-direction: column;
  }

  &--column-reverse {
    flex-direction: column-reverse;
  }

  // Wrapping
  &--wrap {
    flex-wrap: wrap;
  }

  &--wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  &--nowrap {
    flex-wrap: nowrap;
  }

  // Horizontal alignment
  &--left {
    justify-content: flex-start;
  }

  &--center {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--space-around {
    justify-content: space-around;
  }

  // Vertical alignment
  &--stretch {
    align-items: stretch;

    .flex > & {
      align-self: stretch;
    }
  }

  &--top {
    align-items: flex-start;

    .flex > & {
      align-self: flex-start;
    }
  }

  &--bottom {
    align-items: flex-end;

    .flex > & {
      align-self: flex-end;
    }
  }

  &--middle {
    align-items: center;

    .flex > & {
      align-self: center;
    }
  }

  &--baseline {
    align-items: baseline;

    .flex > & {
      align-self: baseline;
    }
  }
}

// flex__*
[class*='flex__'] {
  box-sizing: border-box;
  inline-size: 100%;
}

.flex__auto {
  flex: 1;
}

@include mixins.flex__;
@include mixins.flex--order-;
@include mixins.flex--offset-;

// Responsive
@each $key, $breakpoint in $gibki-breakpoints {
  @if $use-container-queries {
    @container gibki (width >= #{$breakpoint}) {
      @include mixins.flex__(#{$key});
      @include mixins.flex--offset-(#{$key});
      @include mixins.flex--order-(#{$key});
    }
  } @else {
    @media screen and (width >= #{$breakpoint}) {
      @include mixins.flex__(#{$key});
      @include mixins.flex--offset-(#{$key});
      @include mixins.flex--order-(#{$key});
    }
  }
}
