@use "sass:math";

/**
 * Gibki
 *
 * @author Benjamin de Oostfrees
 * @version 3.0.0
 * @url https://github.com/deoostfrees/Gibki
 *
 * MIT License
 */

:root {
  // Container max width
  // Based on 16px
  --gibki-container-max-width: 75rem; // 1200px
  --gibki-small-container-max-width: 38.25rem; // 612px
  // Container padding
  // Based on 16px
  --gibki-container-padding: 1.5rem; // 24px
  // Gutter width
  // Based on 16px
  --gibki-gutter-vertical: 1.5rem; // 24px
  --gibki-gutter-horizontal: 1.5rem; // 24px
}

@import
  'variables',
  'functions',
  'mixins';

.container {
  inline-size: 100%;
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-inline-size: var(--gibki-container-max-width);
  padding-inline-end: var(--gibki-container-padding);
  padding-inline-start: var(--gibki-container-padding);


  &--small {
    max-inline-size: var(--gibki-small-container-max-width);
  }

  &--full,
  &--full-width {
    max-inline-size: none;
    padding-inline-end: 0;
    padding-inline-start: 0;
  }

  &:not(.container--full, .container--full-width) & {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}

.flex {
  align-items: stretch;
  column-gap: var(--gibki-gutter-horizontal);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: var(--gibki-gutter-vertical);
}

.flex {



  // Gutters
  &--no-gutters {
    --gibki-gutter-horizontal: 0rem;
    --gibki-gutter-vertical: 0rem;
  }

  &--no-horizontal-gutters {
    --gibki-gutter-horizontal: 0rem;
  }

  &--no-vertical-gutters {
    --gibki-gutter-vertical: 0rem;
  }

  // Directions

  &--row {
    flex-direction: row;
  }

  &--row-reverse {
    flex-direction: row-reverse;
  }

  &--column {
    flex-direction: column;
  }

  &--column-reverse {
    flex-direction: column-reverse;
  }

  // Wrapping

  &--wrap {
    flex-wrap: wrap;
  }

  &--wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  &--nowrap {
    flex-wrap: nowrap;
  }

  // Horizontal alignment

  &--left {
    justify-content: flex-start;
  }

  &--center {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--space-around {
    justify-content: space-around;
  }

  // Vertical alignment

  &--stretch {
    align-items: stretch;

    .flex > & {
      align-self: stretch;
    }
  }

  &--top {
    align-items: flex-start;

    .flex > & {
      align-self: flex-start;
    }
  }

  &--bottom {
    align-items: flex-end;

    .flex > & {
      align-self: flex-end;
    }
  }

  &--middle {
    align-items: center;

    .flex > & {
      align-self: center;
    }
  }

  &--baseline {
    align-items: baseline;

    .flex > & {
      align-self: baseline;
    }
  }
}

// flex__*

[class*='flex__'] {
  box-sizing: border-box;
  inline-size: 100%;
}

.flex__auto {
  flex: 1;
}

@include flex__();

// Reordering
@include flex--order-();
@include flex--offset-();

// Responsive
@each $key, $breakpoint in $gibki-breakpoints {
  @media screen and (min-width: breakpoint(#{$key})) {
    @include flex__(#{$key});
    @include flex--offset-(#{$key});
    @include flex--order-(#{$key});
  }
}
